/* html body {
    height: 100%;
    display: flex;
    flex-direction: column;
} */

.heroBanner {
    background-image: url(./pexels-pixabay-163036.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
}
