EXPO_PUBLIC_SUPABASE_URL=https://cuwikwegsopfxlubrvsp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1d2lrd2Vnc29wZnhsdWJydnNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4ODY2MDEsImV4cCI6MjA4NzQ2MjYwMX0.Wxthxa1VMu3h-pR8hCmRoYkoExI2j-8ZgwKLzqwIEwo
