@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  /* font-family: "Poppins", sans-serif; */
  --fuente-principal: 'Poppins', sans-serif;
  --fuente-secundaria: Arial, Helvetica, sans-serif;
  --color-primario: #e60026;
  --color-secundario: #4a4444;
}

body {
    font-family: var(--fuente-principal);
}

p {
    font-family: var(--fuente-secundaria);
}
