@import 'reset';
@import 'colores';



// Variables

$color-primario: #55a;
$color-secundario: rgb(220, 220, 220);
$display: display;



h1 {
    color: $color-secundario;
    background-color: $color-primario;
}

a {
    background-color: $color-primario;
    color: $color-secundario;
    text-decoration: none;
    padding: 1rem;
    // display: block;
    #{$display}: block;
}