// @import 'reset';
// @import 'colores';
@use reset;



// Variables

$color-primario: #55a;
$color-secundario: rgb(220, 220, 220);
$flex: block;



h1 {
    color: $color-secundario;
    background-color: $color-primario;
}

a {
    background-color: $color-primario;
    color: $color-secundario;
    text-decoration: none;
    padding: 1rem;
    // display: block;
    #{$flex}: block;
}

div a:nth-child(2) {
    background-color: $myBlue;
}